#title{
  background-color: #FF4c68;
  color: #fff;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
p{
  color: #8f8f8f;
}
h3{
  font-family: "Montserrat-Bold";
  font-weight: bold;
}
h2{
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
body{
  font-family: "Montserrat";
}
.container-fluid{
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: light;
}

/* Download buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.positionDiv{
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #FF4c68;
}

/* testimonial section */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #FF4c68;
    text-align: center;
}
.truelove{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  margin: 10% 10% 0;
  padding: 50px;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding: 20px;
}
